body {
  background-color: #000000;
  margin: 0;
  padding: 0;
}

.active {
  border-bottom: 1px solid #000 !important;
}

.btn-primary {
  background-color: #800080;
  border: none;
  border-radius: 5px;
  width: 60px;
  height: 30px;
  color: #fff;
}

.btn-primary:hover {
  box-shadow: 0 0 0 1px;
  cursor: pointer;
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  margin: 60px;
  box-shadow: 0 0 4px rgba(0,0,0,.4);
  animation-name: spin;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.container {
  background-color: #800080;
  border-radius: 15px 15px 0 0;
  height: 100%; 
  margin: 0 10% 10px 10%;
  position: relative;
  width: 80%;
}

.content {
  color: #fff;
  column-count: 2;
  column-gap: 50px;
  position: relative;
  margin: 0 35% 5% 5%;
}

.form {
  visibility: hidden;
  display: block;
  border: solid 3px #f0f0f0;
  background-color: #59c3b1;
  border-radius: 10px;
  color: #fff;
  margin: 0 0 0 37%;
  position: relative;
  width: 230px;
  height: 150px;
  padding: 23px;
}

.footer {
  background-color: #59c3b1;
  border-top: solid 3px #000;
  bottom: 0;
  color: #fff;
  height: 50px;
  position: absolute;
  width: 100%;
}

.footer-content {
  margin: 15px 0 0 0%;
  text-align: center;
}

.inner-text {
  font: 13px 'PT Sans', Arial, sans-serif;
  width: 50px;
  padding: 8px 0 0 14px;
  overflow: hidden;
  text-align: center;
}

.main-menu {
  color: #fff;
  display: flex;
  height: 40px;
  background-color: #59c3b1;
  list-style: none;
  margin: 0 10% 25px 10%;
}

.menu-item {
  padding: 10px 1% 0 1%;
  margin: 0
}

.menu-item:hover {
  background-color: #800080;
  cursor: pointer;
}

.out-circle {
  border: solid 2px #201a1e;
  background-color: #000;
  border-radius: 50%;
  opacity: .7;
  position: relative;
  width: 200px;
  height: 200px;
  margin: -10px 0 15px -30px;
  animation-name: spin;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.submenu {
  background-color: #59c3b1;
  border-radius: 10px;
  list-style: none;
  color: #fff;
  display: flex;
  height: 40px;
  margin: -10% 15% 10% 45%;
  width: 40%;
  z-index: 1;
}

.sub-item {
  padding: 10px 1.5% 0 1.5%;
}

.sub-item:hover {
  background-color: #800080;
  cursor: pointer;
}

.tabs {
  /* overflow: hidden; */
  width: 400px;
  background-color: none;
  margin: 50px auto;
}

.tab-b {
  background-color: #59c3b1;
  border: 1px solid #000;
  display: none;
  padding: 20px;
  border: 1px solid #fff;
}

.tabs-body {
  color: #fff;
  position: relative;
  top: -1px;
  z-index: 1;
}

.tab-b:first-child {
  display: block;
}

.tab-h {
  background-color: #59c3b1;
  display: inline-block;
  line-height: 30px;
  border: 1px solid #fff;
  padding: 5px 10px;
  text-align: center;
}

.tab-h:hover {
  cursor: pointer;
}

.tabs-header {
  color: #fff;
  position: relative;
  z-index: 2;
}

.video {
  width: 100%;
}
